.btn {
    background-color: $mainColor;
    color: white;
    text-decoration: none;
    padding: .75rem 1.2rem;
    display: inline-block;

    &--color-second {
        background-color: $secondColor;
    }

    &--large {
        padding: 1.1rem 1.9rem;

        @mixin atSmall {
            font-size: 1.25rem;
        }
    }
}