.headline {
    font-weight: 300;
    font-size: 1.9rem;
    color: $mainColor;

    @mixin atMedium {
        font-size: 2.875rem;
    }

    &--centered {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    &--color-second {
        color: $secondColor;
    }

    &--small {
        font-size: 1.2rem;
        @mixin atSmall {
           font-size: 1.875rem;
        }
    }

    &--narrow {
        max-width: 500px;
    }

    &--light {
        font-weight: 100;
    }

    strong {
        font-weight: 400;
    }

    &--b-margin-small {
        margin-bottom: .5em;
    }

    &--b-margin-large {
        margin-bottom: 1.6em;
    }

    &--no-t-margin {
        margin-top: 0;
    }
}