.large-hero {
    border-bottom: 10px solid $mainColor;
    position: relative;

    &__image {
        display: block;
    }

    &__text-content {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        padding-top: 60px;
        text-align: center;
    }

    &__title {
        font-weight: 300;
        color: $mainColor;
        margin: 0;
        font-size: 2rem;

        @mixin atSmall {
        font-size: 4.8rem;
        }
    }
    
    &__subtitle {
        font-weight: 300;
        color: $mainColor;
        font-size: 1.5rem;
        margin: 0;

        @mixin atSmall {
            font-size: 2.9rem;
        }
    }

    &__description {
        color: white;
        font-size: 1.1rem;
        font-weight: 100;
        text-shadow: 2px 2px 0 rgba(68, 56, 56, 0.1);
        max-width: 30rem;
        margin-right: auto;
        margin-left: auto;
        
        @mixin atSmall {
            font-size: 1.875rem;
        }
    }
}