.page-section {
    padding: 1.2rem 0;

    @mixin atMedium {
        padding: 4.5rem 0;
    }

    &--no-b-pading-until-medium {
        padding-bottom: 0;

        @mixin atMedium {
            padding-bottom: 4.5rem;
        }
    }

    &--no-b-pading-until-large {
        padding-bottom: 0;

        @mixin atLarge {
            padding-bottom: 4.5rem;
        }
    }

    &--color-main {
        background-color: $mainColor;
        color: white;
    }

    &--testimonials {
        background-color: #cedee2;

        @mixin atLarge {
            background: url('assets/images/testimonials-bg.jpg') top center no-repeat;
            background-size: cover;
        }
    }
}