.primary-nav {
    margin-top: 8px;
    @mixin atMedium {
        margin-top: 0;
    }

    &--pull-right {
        float: right;
    }

    ul {
        margin: 0;
        padding: 0;
        /* @mixin  clearfix; */
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    li {
        list-style: none;
        margin: 2px 20px 2px 0;
        &:last-child {
            margin-right: 0;
            @mixin atMedium {
                margin-right: 20px;
            }
        }
    }

    a {
        color: white;
        text-decoration: none;
        font-weight: 300;
        display: block;
        padding: 5px 8px;
        font-size: .9rem;
        background-color: rgba($mainColor, .5);

        @mixin atMedium {
            font-size: 1rem;
            padding: 0;
            background-color: transparent;

            &.is-current-link {
                color: rgb(255, 220, 64);
            }
        }
    }
    
}