.section-title {
    font-size: 2.55rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.5em;

    @mixin atSmall {
        font-size: 3.75rem;
        margin-top: 0;
        margin-bottom: 1em;
    }

    strong {
        font-weight: 500;
    }

    &--color-main {
        color: $mainColor;
    }

    &--less-margin {
        margin-bottom: 1.3rem;
        margin-top: 0;
    }

    &__icon {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: .6rem;
        
        @mixin atSmall {
            display: inline-block;
            margin-right: .5em;
            margin-left: 0;
            margin-bottom: 0;
            vertical-align: bottom;
        }
    }
}