.site-footer {
    background-color: $mainColor;
    color: white;
    padding: .5rem 0;
    text-align: center;

    &__text {
        display: block;
        margin-bottom: 1rem;
        font-weight: 200;

        @mixin atMedium {
            margin-bottom: 0;
            display: inline;
            margin-right: 1.9rem;
        }
    }
}