.site-header {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 10px 0;
    transition: background-color .3s ease-out;

    &--is-expanded {
        background-color: rgba($mainColor, .55);
    }

    @mixin atMedium {
        background-color: rgba($mainColor, .3);
        position: fixed;

        &--dark {
            background-color: rgba(23, 51, 72, .85);
        }
    }

    &__btn-container {
        /* float: right; */
    }

    &__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: $mainColor;
        padding: 13px 29px;
        top: 0;

        @mixin atMedium {
            left: auto;
            transform: translateX(0);
            padding: 25px 36px;
            transform: scale(1);
            transform-origin: top center;
            transition: transform .3s ease-out;

            .site-header--dark & {
                transform: scale(.54);
            }
        }
    }

    &__menu-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 99;
        width: 24px;
        height: 23px; /* height - 9 is odd number */
        border-top: 3px solid white;
        border-bottom: 3px solid white;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        transition: border .3s ease-out;
        /* The middle bar */
        &::before {
            content: "";
            height: 3px;
            width: 100%;
            background-color: white;
            transition: transform .3s ease-out;
        }
        /* a seond hidden middle bar which's going to rotate */
        &::after {
            opacity: 0;
            content: "";
            position: absolute;
            height: 3px;
            width: 100%;
            background-color: white;
            transition: all .3s ease-out;
        }

        @mixin atMedium {
            display: none;
        }
    }

    &__menu-icon--close-x {
        border-width: 0;

        &::before {
            transform: rotate(45deg) scaleX(1.41);
        }
        &::after {
            opacity: 1;
            transform: rotate(-45deg) scaleX(1.41);
        }
    }

    &__menu-content {
        opacity: 0;
        position: relative;
        transform: scale(1.2);
        z-index: -99;
        padding-top: 90px;
        display: flex;
        flex-flow:  column-reverse nowrap;
        align-items: center;
        transition: all .3s ease-out;

        @mixin atMedium {
            opacity: 1;
            z-index: 0;
            transform: scale(1);
            padding-top: 0;
            flex-flow:  row nowrap;
            justify-content: flex-end;
        }

        &--is-visible {
            opacity: 1;
            z-index: 0;
            transform: scale(1);
        }
    }
}